<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/Head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/Header.ejs') %>
    <div id="container">
        <div id="main">
            <form action="" class="form">
           <h3>Редактировать фильм</h3>

           <fieldset class="fieldset">
            <label for="">Выберите постер для фильма</label>
            <input type="file"  name="film-img">
        </fieldset>

                <fieldset class="fieldset">
                    <label for="">Название фильма на русском</label>
                    <input type="text" placeholder="Введите название фильма на русском" name="name-rus">
                </fieldset>

                <fieldset class="fieldset">
                    <label for="">Название фильма на английском</label>
                    <input type="text" placeholder="ВНазвание фильма на английском" name="name-eng">
                </fieldset>


                <fieldset class="fieldset">
                    <label for="">Введите год выпуска</label>
                    <input type="number" placeholder="Введите год выпуска" name="year">
                </fieldset>


                <fieldset class="fieldset">
                    <label for="">Дительность фильма в минутах</label>
                    <input type="number" placeholder="Введите длительность " name="time">
                </fieldset>
                

                <fieldset class="fieldset">
                    <label for="">Дительность фильма в минутах</label>
                    <input type="number" placeholder="Введите длительность " name="time">
                </fieldset>


                <fieldset class="fieldset">
                    <label for="">Жанр фильма</label>
                    <select name="ganre" id="">
                        <% ganres.forEach(ganre => {%>
                            <option><%=ganre.name%></option>

                             <%
                         }) %>
                        
                       
                    </select>
                </fieldset>

                <fieldset class="fieldset">
                    <label for="">Жанр фильма</label>
                    <select name="ganre" id="">
                        <% ganres.forEach(ganre => {%>
                            <option><%=ganre.name%></option>
                            
                             <%
                         }) %>
                        
                       
                    </select>
                </fieldset>
               
                <fieldset class="fieldset">
                    <button type="submit">SAVE</button>
                 </fieldset>


            </form>
        </div>
    </div>
</body>
</html>